fish/.config/fish/fishd*
fish/.config/fish/conf.d
fish/.config/fish/functions
fish/.config/fish/completions/*
!fish/.config/fish/completions/fisher.fish

atom/.atom/*
!atom/.atom/config.cson
!atom/.atom/packages.txt

vim/.vim/plugins/*
vim/.vim/autoload/*
