src/fish/.config/fish/fishd*
src/fish/.config/fish/conf.d
src/fish/.config/fish/functions
src/fish/.config/fish/completions/*
src/fish/.config/fish/local.fish
!src/fish/.config/fish/completions/fisher.fish

src/atom/.atom/*
!src/atom/.atom/config.cson
!src/atom/.atom/keymap.cson
!src/atom/.atom/packages.txt

src/vim/.vim/plugins/*
src/vim/.vim/autoload/*

src/yarn/.config/yarn/global/*
src/yarn/.config/yarn/link/*
!src/yarn/.config/yarn/global/package.json
