[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[user]
  name = jasondibenedetto
  email = jason.dibenedetto6@gmail.com
[color]
  ui = true
[credential]
  helper = osxkeychain
[push]
  default = simple
