[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
[user]
  name = Jason Di Benedetto
  email = jason.dibenedetto6@gmail.com
  username = jasondibenedetto
[color]
  ui = true
[push]
  default = simple

