"*":
  core:
    closeDeletedFileTabs: true
    followSymlinks: false
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".DS_Store"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "ariake-dark-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "8a1fa52e-1a87-48bf-9a07-f33b44526c41"
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
      "vendor"
    ]
    preserveLastSearch: true
  "highlight-line":
    enableBackgroundColor: false
    enableSelectionBorder: true
  "linter-eslint":
    fixOnSave: true
  "linter-ui-default":
    showPanel: true
  "one-dark-ui": {}
  pigments:
    sortPaletteColors: "by color"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "tabs-to-spaces":
    onSave: "untabify"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    tabLength: 4
