init.author.name=Jason Di Benedetto
init.author.email=jason.dibenedetto6@gmail.com
init.author.url=http://jasondibenedetto.me/
//registry.npmjs.org/:_authToken=3dc8b0a1-a098-454c-9b96-44a5ea2fded4
init-author-name=Jason Di Benedetto
