"*":
  "command-palette":
    preserveLastSearch: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "welcome"
      "styleguide"
      "language-mustache"
      "language-perl"
      "language-ruby"
      "language-ruby-on-rails"
      "language-go"
      "language-csharp"
      "language-clojure"
      "language-c"
      "image-view"
      "background-tips"
      "autocomplete-snippets"
      "language-less"
      "language-make"
      "language-python"
      "language-toml"
      "language-typescript"
      "metrics"
      "package-generator"
      "snippets"
      "language-sql"
      "exception-reporting"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: false
    ignoredNames: [
      ".DS_Store"
    ]
    packagesWithKeymapsDisabled: [
      "atom-ternjs"
      "hyperclick"
      "merge-conflicts"
      "split-diff"
      "styleguide"
    ]
    projectHome: "/Users/jason/code"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "nord-atom-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Hack"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "8a1fa52e-1a87-48bf-9a07-f33b44526c41"
  "fuzzy-finder":
    ignoredNames: [
      "node_modules"
      "vendor"
    ]
    preserveLastSearch: true
  "highlight-line":
    enableBackgroundColor: false
    enableSelectionBorder: true
  "linter-eslint":
    fixOnSave: true
  "linter-ui-default":
    panelHeight: 69
  "no-title-bar":
    automaticTrafficLightsPadding: true
  pigments:
    sortPaletteColors: "by color"
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
      showInStatusBar: true
    prettierOptions:
      singleQuote: true
      trailingComma: "all"
    useEditorConfig: false
  "project-manager":
    includeGitRepositories: true
    prettifyTitle: false
    sortBy: "last modified"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnlyLines: true
".html.php.text":
  editor:
    tabLength: 4
